

<div class="panel panel-default">
    <div class="panel-heading">
        @POS.Resources.Resource.Import
    </div>
    <div class="panel-body">
        <input class="btn btn-primary btn-cons custombtn" type="button" value="@POS.Resources.Resource.Inventory " onclick="getImportInventory()" />
        <a href="/Home" class="btn btn-primary custombtn">BACK</a>
        <div id="item-div" class="add-div">

        </div>
        <div class="card-block">
            <div class="Item-tab-div">
            </div>
        </div>
        <div class="tab-div Item-tab-div">

        </div>
    </div>

</div>

