<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=11.1.17.614, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
      <add name="BusinessLayer" version="1.0.0.0" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
      <storage provider="" />
      <reportResolver provider="" />
    </restReportService>
  </Telerik.Reporting>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" fileName="logs/app-log.txt" archiveFileName="logs/archives/app-log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="fromEmail" value="techsourcecanada1012@gmail.com" />
    <add key="fromUserName" value="techsourcecanada1012@gmail.com" />
    <add key="fromPassword" value="mytn jnsg moqs eghs" />
    <add key="baseUrl" value="https://techcitycanada.ca/wp-json/" />
    <add key="consumer_key" value="ck_74b0c0c1f272717e72f98e6f31806feef86b8aa3" />
    <add key="consumer_secret" value="cs_a4f26e406ffcaa023532bdc51c5d59776af2b7be" />
    <!--<add key="consumer_key" value="ck_80ef4fccbb384ba639e82e7682b306c954f99d05" />
    <add key="consumer_secret" value="cs_12dc93008008cd383cf7aa2d1b852ed932e5d844" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

  <system.Web>
  </system.Web>
    The following attributes can be set on the <httpRuntime> tag.
  -->
  <system.web>
    <httpRuntime targetFramework="4.8" />
    <!--<sessionState mode="SQLServer" sqlConnectionString="Server=WIN-SERVER;Database=aspnetdb;user id=MotorPool;password=MotorPool;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" cookieless="false" timeout="240" allowCustomSqlDatabase="true" />-->
    <globalization uiCulture="en-GB" culture="en-GB" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" />
    </authentication>
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"/>-->
    <compilation targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<handlers>
      <remove name="Telerik.ReportViewer.axd_"/>
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=1.5.1.0, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
        <!-- 2 GB -->
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MasterContext" connectionString="Data Source=localhost;Initial Catalog=TechCityDb1_7;Integrated Security=False;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />
    <!--<add name="MasterContext" connectionString="Data Source=localhost;Initial Catalog=TechCityDb1_7;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MasterContext" connectionString="Data Source=148.113.191.228;Initial Catalog=TechCityDb1_7;Integrated Security=False;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="MasterContext" connectionString="Data Source=144.76.195.231\\MSSQLSERVER2022;Initial Catalog=romangulzar_tech;Integrated Security=False;User ID=rooman;Password=JQj61aaj_xUjr$2f" providerName="System.Data.SqlClient" />  -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: FC8F1872-53B4-4087-A700-3B58F400EF85-->